<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
.rickshaw_graph .y_ticks {
        left: 0;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#slider {
        margin-left: 40px;
}
</style>

<div id="chart_container">
  <div id="y_axis"></div>
  <div id="chart"></div>
  <div id="slider"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.js"></script>
<script src="/app.js"></script>
<script type="application/javascript">rickshawPage()</script>
