<div class="col-md-6">
  <div id="day_charts">
    <div class="price chart_container">
      <div class="price_chart graph_body"></div>
      <div class="price_axis chart_axis"></div>
    </div>
    <div class="volume chart_container">
      <div class="vol_chart hide_time graph_body"></div>
      <div class="vol_axis chart_axis"></div>
    </div>
  </div>

  <div id="historical_charts">
    <div class="price chart_container">
      <div class="price_chart graph_body"></div>
      <div class="price_axis chart_axis"></div>
    </div>
    <div class="volume chart_container">
      <div class="vol_chart hide_time graph_body"></div>
      <div class="vol_axis chart_axis"></div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div id="type_stats">
    <pre class="debug_json">{{stats}}</pre>
  </div>
</div>
