<div id="chart_container">
  <h1 class="chart_loading">Loading the chart data...</h1>
  <div id="vol_axis" class="chart_axis"></div>
  <div id="price_axis" class="chart_axis"></div>
  <div id="center_chart"></div>
  <div id="slider"></div>
</div>
