<div id="chart_container">
  <div id="vol_axis" class="chart_axis"></div>
  <div id="price_axis" class="chart_axis"></div>
  <div id="sell_chart"></div>
  <div id="center_chart"></div>
  <div id="buy_chart"></div>
  <div id="slider"></div>
</div>
