<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 80px;
}
.rickshaw_graph .y_ticks {
        left: 0;
}
#price_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#vol_axis {
        position: absolute;
        left: 40px;
        top: 0;
        bottom: 0;
        width: 40px;
}
#slider {
        margin-left: 80px;
}
h1.chart_loading {
  padding: 40px 15px;
  text-align: center;
}
</style>

<h1 class="chart_loading">Loading the chart data...</h1>

<div id="chart_container">
  <div id="price_axis"></div>
  <div id="chart"></div>
  <div id="vol_axis"></div>
  <div id="slider"></div>
</div>
