<form id="type-search" class="navbar-form navbar-left" role="type-search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Item Name eg. Tritanium" size="50">
  </div>
</form>

<form id="location-search" class="navbar-form navbar-left" role="location-search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Station eg. Jita" size="20">
  </div>
</form>
