<h1 class="chart_loading">Loading the chart data...</h1>
<div class="chart_container">
  <div id="price_chart" class="graph_body"></div>
  <div id="price_axis" class="chart_axis"></div>
</div>
<div class="chart_container">
  <div id="vol_chart" class="graph_body"></div>
  <div id="vol_axis" class="chart_axis"></div>
</div>
